CPSC3720 PROJECT/CUSchedule/rateMyProf/.DS_Store
CPSC3720 PROJECT/CUSchedule/rateMyProf/ratemyprof-api-master/.DS_Store
CPSC3720 PROJECT/CUSchedule/rateMyProf/ratemyprof-api-master/ratemyprof_api/.DS_Store
CPSC3720 PROJECT/.DS_Store
CPSC3720 PROJECT/CUSchedule/.DS_Store
.idea/CUSchedule.iml
.idea/modules.xml
__pycache__
